canvas{
	cursor: url(pen-cursor.png),auto;
} 
#canvas1{
	position:absolute;
	width:100%;
	height:100%;
	top:100px;
	background:linear-gradient(to right,#642b73,#c6426e);
}

h1{
	text-align:center;
	height:100px;
	background-image:url(https://static.vecteezy.com/system/resources/previews/023/660/247/non_2x/sketch-scribble-smear-black-pencil-drawing-in-the-shape-of-a-rectangle-on-white-background-great-design-for-any-purposes-illustration-vector.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	margin:0px;
	font-family:cursive;
	color:rgb(11,245,249);
	

}
.dropdown-toggle{
	position:relative;
	bottom:100px;
	background-color:rgba(239,11,87,0.5);

}
.dropdown-toggle:hover{
	background-color:rgba(239,11,87,0.5);
}

.dropdown-menu{
	background-color:rgba(239,11,87,0.5);
	color:white;
}

.ersr,.clre{
	background-color: red;
}
.adtxt,.sve,.shre{
	background-color:#bb6eff;
}
.high{
	background-color:red;
}

